body {
    background: #2f3030;
    color: rgb(214, 219, 219);
}

h2 {
    margin: 3px;
}

.inputbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    background: #132430;
    border-radius: 2px;
    border: 1px rgb(45, 90, 53) solid;


}

.inputbox :nth-child(1) {
    gap: 27px;
    display: flex;

}

#fileInput {
    display: flex;
    gap: 1px;
    font-size: large;
}

.windowslist {
    display: flex
    ;
        position: absolute;
        min-height: min-content;
        flex-direction: column;
        background: black;
        margin: 5px;
        padding: 6px;
        top: 97px;
        box-shadow: 3px 2px 11px;
        border: 1px #1ee17c solid;
}
.levelbox {
    display: flex;
    justify-content: space-between;
}

.sideBar {
    cursor: pointer;
    position: absolute;
    top: -8px;
    left: 4px;;
    width: 27px;
    height: 20px;
    color: #e7f3e9;
    font-size: 27px;
}