/* styles.css */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
}

textarea {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.name {
    background-color: rgb(158, 171, 230);
    display: flex;
    font-size: large;
    justify-content: space-evenly;
}

.btn {
    background-color: #255567;
    text-align: center;
    font-size: large;
    cursor: pointer;
    color: antiquewhite;
    border: solid 1px;
    border-color: black;
    border-radius: 3px;
    margin: 14px;
}

.totalcounts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: 15px;
}

.remaincounts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: 15px;
}

.lastcounts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: 15px;
}

.lastcountsp {
    margin: 0;
}

.forcounts {
    display: flex;
}

.setdesplay {
    text-align: center;
    margin: 10px;
    color: rgb(41, 131, 5);
}

.startbox {
    display: flex;
    justify-content: center;
    gap: 11px;
    font-size: 16px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}